

body {
    background: linear-gradient(to bottom, #F5F5DC, #FFFFFF); /* gradient from cream to white */
    color: #006400; /* dark green */
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.news {
    height:222px;
    width:222px;
}

h1, h2 {
    color: #800080; /* purple */
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #006400; /* dark green */
    text-decoration: none;
}

a:hover {
    color: #800080; /* purple */
}

.fab {
    color: #006400; /* dark green */
}

.card img {
    width: 40%; /* adjust as needed */
    height: auto; /* maintain aspect ratio */
    display: block; /* center the image */
    margin: 0 auto;
}

.container {
    display: flex;
    padding: 50px;
}

.header, .topnav {
    flex: 1;

}